<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dlarb.helpmybody01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HelpMyBody!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="HelpMyBody!"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".YoutubeLayout" />
        <activity android:name=".AlarmLayout" />
        <activity android:name=".SleepLayout" />
        <activity android:name=".PointActivity" />
        <activity android:name=".bodypart.Waist" />
        <activity android:name=".bodypart.Neck" />
        <activity android:name=".bodypart.Wrist" />
        <activity android:name=".bodypart.Arm" />
        <activity android:name=".bodypart.Leg" />
        <activity android:name=".bodypart.All" />
        <activity android:name=".bodypart.Waist_Youtube.WaistYoutube1" />
        <activity android:name=".bodypart.Waist_Youtube.WaistYoutube2" />
        <activity android:name=".bodypart.Neck_Youtube.NeckYoutube1" />
        <activity android:name=".bodypart.Neck_Youtube.NeckYoutube2" />
        <activity android:name=".bodypart.Neck_Youtube.NeckYoutube3" />
        <activity android:name=".bodypart.Neck_Youtube.NeckYoutube4" />
        <activity android:name=".bodypart.Neck_Youtube.NeckYoutube5" />
        <activity android:name=".bodypart.Wrist_Youtube.WristYoutube1" />
        <activity android:name=".bodypart.Wrist_Youtube.WristYoutube2" />
        <activity android:name=".Alarm_bodypart.NeckAlarm" />
        <activity android:name=".Alarm_bodypart.WaistAlarm" />
        <activity android:name=".Alarm_bodypart.WristAlarm" />
        <activity android:name=".Alarm_bodypart.ArmAlarm" />
        <activity android:name=".Alarm_bodypart.LegAlarm" />
        <activity android:name=".Alarm_bodypart.AllAlarm" />
        <activity android:name=".TimePickerFragment" />
        <activity android:name=".TimePickerFragment2" />
        <activity android:name=".SettingsActivity" />



        <receiver android:name=".Alarm_bodypart.AlarmReceiver_Neck" />
        <receiver android:name=".Alarm_bodypart.AlarmReceiver_Waist" />
        <receiver android:name=".Alarm_bodypart.AlarmReceiver_Wrist" />
        <receiver android:name=".Alarm_bodypart.AlarmReceiver_Arm" />
        <receiver android:name=".Alarm_bodypart.AlarmReceiver_Leg" />
        <receiver android:name=".Alarm_bodypart.AlarmReceiver_All" />


    </application>

</manifest>